* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

h1 {
  color: #2f3640 !important;
}

.navbar-text {
  background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #3742fa 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me-text {
  background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #3742fa 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem !important;
}

section {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.aboutme-container {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

#about-me {
  min-height: 100vh;
  width: 100%;
}

#projects {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #ecf0f1;
}

#skills {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

#contact {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #ecf0f1;
}

nav a.nav-link {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.875rem;
  color: #2f3640 !important;
}

.navbar-nav > li > a.active {
  border-bottom: 0.125rem solid #0275d8;
}

/* .navbar-nav > li > a:focus */

nav li.nav-item:hover {
  background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #3742fa 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem !important;
}

.typed-text {
  font-size: 2.5rem;
}

.welcome-text {
  font-weight: 300;
}

:target {
  padding-top: 70px; /* = to height of navbar */
  /* margin-top: -70px; */
}

@media only screen and (min-width: 300px) and (max-width: 770px) {
  .developer-logo {
    width: 12rem !important;
    height: 12rem !important;
  }
}

#contact .contact-form {
  margin-top: 6.25rem;
  background-color: white;
  border-radius: 0.3125rem;
  padding: 1.25rem;
}

#comments {
  resize: none;
  height: 100px;
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
  #contact .contact-form {
    width: 50% !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
  #contact .contact-form {
    width: 60% !important;
  }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
  #contact .contact-form {
    width: 70% !important;
  }
}
